<div class="container">
	<h2>Log in</h3>

	<%= form_with(scope: :session, url: login_path, class: "shadow p-3 mb-5 bg-light rounded", local: true) do |f| %>
		<div class="mb-3">
			<%= f.label :email, class: "form-label" %>
			<%= f.email_field :email, class: "form-control shadow-sm rounded" %>
		</div>

		<div class="mb-3">
			<%= f.label :password, class: "form-label" %>
			<%= f.password_field :password, class: "form-control shadow-sm rounded" %>
		</div>

		<div class="mb-3">
			<%= f.submit 'Log in', class: 'btn btn-secondary' %>
		</div>
	<% end %>
</div>