<div class="container mt-5">
	<h3>index page</h3>

	<% @article.each do |article| %>
		<div class="card d-inline-flex me-2 mb-3" style="width: 18rem;">
		  <div class="card-body">
		    <h5 class="card-title"><%= article.title %></h5>
		    <h6 class="card-subtitle mb-2 text-muted">by <%= article.user.username %></h6>
		    <p class="card-text"><%= article.description %></p>
		    <%= link_to 'Show', article_path(article), class: "card-link btn btn-outline-secondary"%>
		    <%= link_to 'Edit', edit_article_path(article), class: "card-link btn btn-outline-secondary"%>
		    <%= link_to 'Delete', article_path(article), class:"card-link btn btn-outline-secondary", method: :delete, data: { confirm: "Are you sure?" } %>
		  </div>
		</div>	
	<% end -%>

	<p>
		<%= link_to 'New article', new_article_path %>	
	</p>
</div>