<%= form_with(model: @user, class: "shadow p-3 mb-5 bg-light rounded", local: true) do |f| %>
	<div class="mb-3">
		<%= f.label :username, class: "form-label" %>
		<%= f.text_field :username, class: "form-control shadow-sm rounded" %>
	</div>

	<div class="mb-3">
		<%= f.label :email, class: "form-label" %>
		<%= f.email_field :email, class: "form-control shadow-sm rounded" %>
		<div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
	</div>

	<div class="mb-3">
		<%= f.label :password, class: "form-label" %>
		<%= f.password_field :password, class: "form-control shadow-sm rounded" %>
	</div>

	<div class="mb-3">
		<%= f.submit(@user.new_record? ? 'Sign up' : 'Update profile', class: 'btn btn-secondary') %>
	</div>
<% end %>